@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	@apply scroll-smooth;
}

body {
	font-family: "Open Sans", sans-serif;
}
p {
	@apply mb-4;
}

ol {
	list-style: auto;
}

li {
	@apply pl-6 relative mb-2;
	
	&:before {
		content: "> ";
		@apply absolute left-0;
	}
}

.disabled {
	@apply cursor-default pointer-events-none opacity-25;
}