// copied over from previous site design
// used for hack minigames
.circle {
	@apply rounded-full
}

.rectangle {
	.top-10 {
		top: 1rem;
	}
	.bottom-10 {
		bottom: 1rem;
	}

	@apply py-16
}

.triangle {
	background-color: transparent;
	background-size: 50% 100%;
	background-repeat: no-repeat;
	background-position: left, right;

	&.bg-black {
		background-image:
		linear-gradient(to bottom right, transparent 50%, black 0),
		linear-gradient(to top right, black 50%, transparent 0);
	}

	&.bg-blue-600 {
		background-image:
		linear-gradient(to bottom right, transparent 50%, rgb(37 99 235) 0),
		linear-gradient(to top right, rgb(37 99 235) 50%, transparent 0);
	}

	&.bg-green-600 {
		background-image:
		linear-gradient(to bottom right, transparent 50%, rgb(22 163 74) 0),
		linear-gradient(to top right, rgb(22 163 74) 50%, transparent 0);
	}

	&.bg-orange-400 {
		background-image:
		linear-gradient(to bottom right, transparent 50%, rgb(251 146 60) 0),
		linear-gradient(to top right, rgb(251 146 60) 50%, transparent 0);
	}

	&.bg-purple-800 {
		background-image:
		linear-gradient(to bottom right, transparent 50%, rgb(107 33 168) 0),
		linear-gradient(to top right, rgb(107 33 168) 50%, transparent 0);
	}

	&.bg-red-600 {
		background-image:
		linear-gradient(to bottom right, transparent 50%, rgb(220 38 38) 0),
		linear-gradient(to top right, rgb(220 38 38) 50%, transparent 0);
	}

	&.bg-white {
		background-image:
		linear-gradient(to bottom right, transparent 50%, white 0),
		linear-gradient(to top right, white 50%, transparent 0);
	}
}

.dropdownButton {
	&.show {
		@apply rounded-b-none border-b-0
	}

	@apply flex justify-center items-center w-24 bg-zinc-50 text-slate-800 text-lg border-2 border-zinc-400 rounded relative
}

.dropdownMenu {
	&.show {
		@apply opacity-100 translate-y-0 pointer-events-auto z-10
	}

	@apply absolute flex flex-col justify-center items-center w-24 bg-zinc-50 text-slate-800 text-lg rounded-b cursor-pointer border-2 border-t-0 border-zinc-400 opacity-0 pointer-events-none -translate-y-2 transition-all
}

.dropdownItem {
	@apply hover:bg-slate-600 hover:text-zinc-50 w-full h-full text-center
}

.disabled {
	@apply cursor-default pointer-events-none opacity-25;
}